<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/github.css"/>
    <title>Github</title>
</head>
<body>
<div th:replace="base :: navigbar"></div>
<div class="container"><h1>How to fork a repo in GitHub</h1>
    <h6>July 28, 2019</h6>
    <h2><strong>What is a fork?</strong></h2>
    <p>A GitHub fork is a copy of a repository (repo) that sits in your account rather than the account from which you forked the data from. Once you have forked a repo, you own your forked copy. This means that you can edit the contents of your forked repository without impacting the parent repo.</p>
    <p>If the project owner likes your work, they might pull your fix into the original repository!

        Use someone else's project as a starting point for your own idea.
        At the heart of open source is the idea that by sharing code, we can make better, more reliable software.

        When creating your public repository from a fork of someone's project, make sure to include a license file that
        determines how you want your project to be shared with others.

        For more information on open source, specifically how to create and grow an open source project, we've created
        Open Source Guides that will help you foster a healthy open source community by recommending best practices for
        creating and maintaining repositories for your open source project. You can also take a free GitHub Learning Lab
        course on maintaining open source communities.</p>
    Source: <a href="https://help.github.com/en/articles/fork-a-repo">https://help.github.com/en/articles/fork-a-repo/</a>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>