<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/homepage.css"/>
    <title>HomePage</title>
</head>
<body>
<div th:replace="base :: navigbar"></div>
<div class="container">
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list"
               aria-selected="true">List view</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
               aria-selected="false">All topics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="gh-tab" data-toggle="tab" href="#gh" role="tab" aria-controls="gh"
               aria-selected="false">GitHub</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pda-tab" data-toggle="tab" href="#pda" role="tab" aria-controls="pda"
               aria-selected="false">Program Design & Algorithms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="core-tab" data-toggle="tab" href="#core" role="tab" aria-controls="core"
               aria-selected="false">Core Java</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="oojava-tab" data-toggle="tab" href="#oojava" role="tab" aria-controls="oojava"
               aria-selected="false">Object-oriented Java</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="webdesign-tab" data-toggle="tab" href="#webdesign" role="tab" aria-controls="webdesign"
               aria-selected="false">HTML/CSS/Bootstrap</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab"><div class="inside-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">What is GitHub?</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">To understand GitHub, you must first have an understanding of Git. Git is an open-source version control system that was started by Linus Trovalds...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/github1" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">How to fork a repo in GitHub</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">A GitHub fork is a copy of a repository (repo) that sits in your account rather than the account from which you forked the data from...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/github2" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">Java Design Patterns</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">A design pattern is not a finished design, it is a description of a solution to a common problem. A design pattern can...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/prodesign1" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">The software development process</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">In my experience, the process of software development tends to be rather chaotic. Team members come ...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/prodesign2" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">Classes and Objects in Java</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">Classes and Objects are basic concepts of Object Oriented Programming which...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/corejava1" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">Packages In Java</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">Package in Java is a mechanism to encapsulate a group of classes, sub packages and interfaces...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/corejava2" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">Polymorphism in Java
                            </h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">The word polymorphism means having many forms. In simple words, we can define polymorphism as...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/oojava1" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">Encapsulation in Java</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">Encapsulation is defined as the wrapping up of data under a single unit. It is the mechanism that binds together code...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/oojava2" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">What is HTML?</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">HTML is the standard markup language for creating Web pages....</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/webdesign1" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">What is CSS?</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">CSS stands for Cascading Style Sheets. ...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/webdesign2" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div></div>
        <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab"><div class="inside-tab">
            <div class="carousel-container">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 100%;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="jumbotron">
                                <h1 class="display-4">What is GitHub?</h1>
                                <div class="thedate"><p>July 28, 2019</p></div>
                                <hr class="my-4">
                                <p class="lead">To understand GitHub, you must first have an understanding of Git. Git is an open-source version control system that was started by Linus Trovalds...</p>
                                <p class="lead">
        <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/github1" role="button">Read more...</a></div>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron">
                                <h1 class="display-4">How to fork a repo in GitHub</h1>
                                <div class="thedate"><p>July 28, 2019</p></div>
                                <hr class="my-4">
                                <p class="lead">A GitHub fork is a copy of a repository (repo) that sits in your account rather than the account from which you forked the data from...</p>
                                <p class="lead">
        <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/github2" role="button">Read more...</a></div>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron">
                                <h1 class="display-4">Java Design Patterns</h1>
                                <div class="thedate"><p>July 28, 2019</p></div>
                                <hr class="my-4">
                                <p class="lead">A design pattern is not a finished design, it is a description of a solution to a common problem. A design pattern can...</p>
                                <p class="lead">
        <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/prodesign1" role="button">Read more...</a></div>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron">
                                <h1 class="display-4">The software development process</h1>
                                <div class="thedate"><p>July 28, 2019</p></div>
                                <hr class="my-4">
                                <p class="lead">In my experience, the process of software development tends to be rather chaotic. Team members come ...</p>
                                <p class="lead">
        <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/prodesign2" role="button">Read more...</a></div>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron">
                                <h1 class="display-4">Classes and Objects in Java</h1>
                                <div class="thedate"><p>July 28, 2019</p></div>
                                <hr class="my-4">
                                <p class="lead">Classes and Objects are basic concepts of Object Oriented Programming which...</p>
                                <p class="lead">
        <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/corejava1" role="button">Read more...</a></div>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron">
                                <h1 class="display-4">Packages In Java</h1>
                                <div class="thedate"><p>July 28, 2019</p></div>
                                <hr class="my-4">
                                <p class="lead">Package in Java is a mechanism to encapsulate a group of classes, sub packages and interfaces...</p>
                                <p class="lead">
        <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/corejava2" role="button">Read more...</a></div>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron">
                                <h1 class="display-4">Polymorphism in Java
                                </h1>
                                <div class="thedate"><p>July 28, 2019</p></div>
                                <hr class="my-4">
                                <p class="lead">The word polymorphism means having many forms. In simple words, we can define polymorphism as...</p>
                                <p class="lead">
        <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/oojava1" role="button">Read more...</a></div>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron">
                                <h1 class="display-4">Encapsulation in Java</h1>
                                <div class="thedate"><p>July 28, 2019</p></div>
                                <hr class="my-4">
                                <p class="lead">Encapsulation is defined as the wrapping up of data under a single unit. It is the mechanism that binds together code...</p>
                                <p class="lead">
        <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/oojava2" role="button">Read more...</a></div>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron">
                                <h1 class="display-4">What is HTML?</h1>
                                <div class="thedate"><p>July 28, 2019</p></div>
                                <hr class="my-4">
                                <p class="lead">HTML is the standard markup language for creating Web pages....</p>
                                <p class="lead">
        <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/webdesign1" role="button">Read more...</a></div>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron">
                                <h1 class="display-4">What is CSS?</h1>
                                <div class="thedate"><p>July 28, 2019</p></div>
                                <hr class="my-4">
                                <p class="lead">CSS stands for Cascading Style Sheets. ...</p>
                                <p class="lead">
        <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/webdesign2" role="button">Read more...</a></div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div></div>
        <div class="tab-pane fade" id="gh" role="tabpanel" aria-labelledby="gh-tab"><div class="inside-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">What is GitHub?</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">To understand GitHub, you must first have an understanding of Git. Git is an open-source version control system that was started by Linus Trovalds...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/github1" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">How to fork a repo in GitHub</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">A GitHub fork is a copy of a repository (repo) that sits in your account rather than the account from which you forked the data from...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/github2" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div></div>
        <div class="tab-pane fade" id="pda" role="tabpanel" aria-labelledby="pda-tab"><div class="inside-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">Java Design Patterns</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">A design pattern is not a finished design, it is a description of a solution to a common problem. A design pattern can...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/prodesign1" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">The software development process</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">In my experience, the process of software development tends to be rather chaotic. Team members come ...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/prodesign2" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div></div>
        <div class="tab-pane fade" id="core" role="tabpanel" aria-labelledby="core-tab"><div class="inside-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">Classes and Objects in Java</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">Classes and Objects are basic concepts of Object Oriented Programming which...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/corejava1" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">Packages In Java</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">Package in Java is a mechanism to encapsulate a group of classes, sub packages and interfaces...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/corejava2" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div></div>
        <div class="tab-pane fade" id="oojava" role="tabpanel" aria-labelledby="oojava-tab"><div class="inside-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">Polymorphism in Java
                            </h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">The word polymorphism means having many forms. In simple words, we can define polymorphism as...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/oojava1" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">Encapsulation in Java</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">Encapsulation is defined as the wrapping up of data under a single unit. It is the mechanism that binds together code...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/oojava2" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div></div>
        <div class="tab-pane fade" id="webdesign" role="tabpanel" aria-labelledby="webdesign-tab"><div class="inside-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">What is HTML?</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">HTML is the standard markup language for creating Web pages....</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/webdesign1" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-4">What is CSS?</h1>
                            <div class="thedate"><p>July 28, 2019</p></div>
                            <hr class="my-4">
                            <p class="lead">CSS stands for Cascading Style Sheets. ...</p>
                            <p class="lead">
                            <div class="thebuttoncontainer"><a class="btn pull-right btn-dark btn-lg" href="/webdesign2" role="button">Read more...</a></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div></div>
    </div>
</div>
<!-- Optional JavaScript -->
<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>