<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/github.css"/>
    <title>Pro Design</title>
</head>
<body>
<div th:replace="base :: navigbar"></div>
<div class="container"><h1>Java Design Patterns</h1>
    <h6>July 28, 2019</h6>

    <p>A design pattern is not a finished design, it is a description of a solution to a common problem. A design pattern can be reused in multiple applications, and that is the main advantage of using it. It can also be seen as a template for how to solve a problem that can occur in many different situations and/or applications. It is not code reuse as it usually does not specify code, but code can be easily created from a design pattern. Object-oriented design patterns typically show relationships and interactions between classes or objects, without specifying the final application classes or objects that are involved.

        Each design pattern consist of the following part:

        <h3>Problem/requirement</h3>
    <p>To create a design pattern, we need to go through a mini analysis design and may be coding to test out the
        solution. This section state the requirements the problem we want to solve. This is usually a common problem
        that will occur in more than one application.</p>
    <h3>Forces</h3>
    <p>This section state the technological boundaries, that helps and guides the creation of the solution.</p>
    <h3>Solution</h3>
        <p>This section describes how to write the code to solve the above problem. This is the design part of the design pattern. It may contain class diagrams, sequence diagrams, and or whatever is needed to describe how to code the solution.
        A design pattern can be considered as block that can be placed in your design document, and you have to implement the design pattern with your application.

        Using design patterns speeds up your design and helps to communicate your design to other team members.</p>
    Source: <a href="https://en.wikibooks.org/wiki/Java_Programming/Design_Patterns">https://en.wikibooks.org/wiki/Java_Programming/Design_Patterns</a>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>