<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/profile.css"/>
    <title>Blog Authors</title>
</head>
<body>
<div th:replace="base :: navigbar"></div>

<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<div class="card">
    <img class="img-fluid"
         src="https://res.cloudinary.com/playrey/image/upload/v1569560196/image_gbchw0.jpg"
         alt="Card image cap" style="max-width: 100%; height: auto;">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's
            content.</p>
    </div>
</div>
<div class="container">
        <div class="card">
            <img class="img-fluid"
                 src="https://res.cloudinary.com/playrey/image/upload/v1569560196/image_gbchw0.jpg"
                 alt="Card image cap" style="max-width: 100%; height: auto;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="card">
            <img class="card-img-top"
                 src="https://res.cloudinary.com/playrey/image/upload/v1569560196/image_gbchw0.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2">

            <div class="card">
                <img class="card-img-top img-fluid" src="http://placehold.it/750x325" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>

        </div>

        <div class="col-sm-2">

            <div class="card">
                <img class="card-img-top img-fluid" src="http://placehold.it/750x325" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>

        </div>

<!--        <div class="col-sm-4">-->

<!--            <div class="card">-->
<!--                <img class="card-img-top img-fluid" src="http://placehold.it/750x325" alt="Card image cap">-->
<!--                <div class="card-block">-->
<!--                    <h4 class="card-title">Card title</h4>-->
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                </div>-->
<!--                <ul class="list-group list-group-flush">-->
<!--                    <li class="list-group-item">Cras justo odio</li>-->
<!--                    <li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--                    <li class="list-group-item">Vestibulum at eros</li>-->
<!--                </ul>-->
<!--                <div class="card-block">-->
<!--                    <a href="#" class="card-link">Card link</a>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--        <div class="col-sm-4">-->

<!--            <div class="card">-->
<!--                <img class="card-img-top img-fluid" src="http://placehold.it/750x325" alt="Card image cap">-->
<!--                <div class="card-block">-->
<!--                    <h4 class="card-title">Card title</h4>-->
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                </div>-->
<!--                <ul class="list-group list-group-flush">-->
<!--                    <li class="list-group-item">Cras justo odio</li>-->
<!--                    <li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--                    <li class="list-group-item">Vestibulum at eros</li>-->
<!--                </ul>-->
<!--                <div class="card-block">-->
<!--                    <a href="#" class="card-link">Card link</a>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--        <div class="col-sm-4">-->

<!--            <div class="card">-->
<!--                <img class="card-img-top img-fluid" src="http://placehold.it/750x325" alt="Card image cap">-->
<!--                <div class="card-block">-->
<!--                    <h4 class="card-title">Card title</h4>-->
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                </div>-->
<!--                <ul class="list-group list-group-flush">-->
<!--                    <li class="list-group-item">Cras justo odio</li>-->
<!--                    <li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--                    <li class="list-group-item">Vestibulum at eros</li>-->
<!--                </ul>-->
<!--                <div class="card-block">-->
<!--                    <a href="#" class="card-link">Card link</a>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--        <div class="col-sm-4">-->

<!--            <div class="card">-->
<!--                <img class="card-img-top img-fluid" src="http://placehold.it/750x325" alt="Card image cap">-->
<!--                <div class="card-block">-->
<!--                    <h4 class="card-title">Card title</h4>-->
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                </div>-->
<!--                <ul class="list-group list-group-flush">-->
<!--                    <li class="list-group-item">Cras justo odio</li>-->
<!--                    <li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--                    <li class="list-group-item">Vestibulum at eros</li>-->
<!--                </ul>-->
<!--                <div class="card-block">-->
<!--                    <a href="#" class="card-link">Card link</a>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

    </div>
</div>

<!--        <div class="col-sm-3">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <div class="card-columns d-flex justify-content-center">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        &nbsp;
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a longer card with shorter text.</p>
            </div>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>